body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* GLOBAL */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
}
.button_1{
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
.dark{
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* HEADER */
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 10px;
}
header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* SHOWCASE */
#showcase{
  min-height: 400px;
  background: url('../img/banner1.jpg') no-repeat;
  text-align: center;
  color: #ffffff;
}
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;
}

/* NEWSLETTER */
#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}
#newsletter h1{
  float: left;
}
#newsletter form{
  float: right;
  margin-top: 15px;
}
#newsletter input[type='email']{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* BOXES */
#boxes{
  margin-top: 20px;
}
#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#boxes .box img{
  width: 80%;
}

/* ASIDE */
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}
aside#sidebar .quote input,aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

/* MAIN-COL */
article#main-col{
  float: left;
  width: 65%;
}

/* SERVICES */
ul#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc 1px solid;
  margin-bottom: 5px;
  background: #e6e6e6;
}
/* FOOTER */
footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}
footer li{
  display: inline;
  padding: 0 10px 0 10px;
}

/* MEDIA QUERIES */
@media(max-width: 768px;){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
  #showcase{
    margin-top: 40px;
  }
  #newsletter button{
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"]{
    width: 100%;
    margin-bottom: 5px;
  }
}
